accelerate==1.13.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
anaconda-anon-usage @ file:///opt/miniconda3/conda-bld/anaconda-anon-usage_1764636648062/work
anaconda-auth @ file:///C:/miniconda3/conda-bld/anaconda-cloud-auth-split_1765839853030/work
anaconda-cli-base @ file:///C:/miniconda3/conda-bld/anaconda-cli-base_1764888883727/work
annotated-types @ file:///C:/miniconda3/conda-bld/annotated-types_1761745107361/work
anyio==4.12.1
archspec @ file:///home/task_175812491784513/conda-bld/archspec_1758124989039/work
argostranslate==1.11.0
attrs==25.4.0
beautifulsoup4==4.14.3
blis==1.3.3
boltons @ file:///C:/b/abs_e2_iokhxbp/croot/boltons_1751383740243/work
brotli==1.2.0
brotlicffi @ file:///C:/miniconda3/conda-bld/brotlicffi_1764961374486/work
catalogue==2.0.10
certifi @ file:///C:/miniconda3/conda-bld/certifi_1763135348719/work/certifi
cffi @ file:///C:/miniconda3/conda-bld/cffi_1761832792955/work
charset-normalizer @ file:///C:/miniconda3/conda-bld/charset-normalizer_1761744975868/work
click @ file:///C:/miniconda3/conda-bld/click_1764332372183/work
cloudpathlib==0.23.0
colorama @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/colorama_1729036581634/work
conda @ file:///C:/miniconda3/conda-bld/conda_1765567840841/work/conda-src
conda-anaconda-telemetry @ file:///croot/conda-anaconda-telemetry_1755883788794/work
conda-anaconda-tos @ file:///C:/b/abs_c9yejtsx9g/croot/conda-anaconda-tos_1755123332641/work
conda-content-trust @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/conda-content-trust_1729088072778/work
conda-libmamba-solver @ file:///C:/miniconda3/conda-bld/conda-libmamba-solver_1764245615235/work/src
conda-package-handling @ file:///C:/miniconda3/conda-bld/conda-package-handling_1762366515145/work
conda_package_streaming @ file:///C:/miniconda3/conda-bld/conda-package-streaming_1762361689679/work
confection==0.1.5
contourpy==1.3.3
cryptography @ file:///C:/miniconda3/conda-bld/cryptography-split_1761932023265/work
cssselect2==0.9.0
ctranslate2==4.7.1
cycler==0.12.1
cymem==2.0.13
deep-translator==1.11.4
distro @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/distro_1729059153117/work
einops==0.8.2
emoji==2.15.0
filelock==3.25.0
flatbuffers==25.12.19
fonttools==4.61.1
frozendict @ file:///C:/miniconda3/conda-bld/frozendict_1761750728192/work
frozenlist==1.8.0
fsspec==2026.2.0
gitdb==4.0.12
GitPython==3.1.46
googletrans-py==4.0.0
h11==0.16.0
h2==4.3.0
hf-xet==1.3.2
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.6.0
hyperframe==6.1.0
idna @ file:///C:/miniconda3/conda-bld/idna_1761912043388/work
ImageIO==2.37.2
jaraco.classes @ file:///C:/b/abs_6erueoob1v/croot/jaraco.classes_1755516340851/work
jaraco.context @ file:///C:/Users/dev-admin/buildout/perseverance-python-buildout/croot/jaraco.context_1731721000658/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
Jinja2==3.1.6
jiter==0.13.0
joblib==1.5.3
jsonpatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jsonpatch_1729054776004/work
jsonpointer @ file:///C:/b/abs_73u73l7pl9/croot/jsonpointer_1753788460913/work
keyring @ file:///C:/miniconda3/conda-bld/keyring_1763637203252/work
kiwisolver==1.4.9
lazy-loader==0.5
libmambapy @ file:///C:/miniconda3/conda-bld/mamba-split_1763111608356/work/libmambapy
markdown-it-py @ file:///C:/b/abs_3espcrdl35/croot/markdown-it-py_1756299213703/work
MarkupSafe==3.0.3
matplotlib==3.10.8
matrix-client==0.4.0
mdurl @ file:///C:/miniconda3/conda-bld/mdurl_1758552277768/work
menuinst @ file:///C:/miniconda3/conda-bld/menuinst_1765382397455/work
minisbd==0.9.5
more-itertools @ file:///C:/miniconda3/conda-bld/more-itertools_1761121564395/work
mpmath==1.3.0
msgpack @ file:///C:/b/abs_4b3t4uhz3r/croot/msgpack-python_1750958631084/work
multidict==6.7.1
murmurhash==1.0.15
networkx==3.6.1
numpy==2.4.2
onnxruntime==1.24.3
openai==2.26.0
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049099114/work
piexif==1.1.3
pillow==12.1.1
pkce @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pkce_1729049216383/work
platformdirs @ file:///C:/miniconda3/conda-bld/platformdirs_1762356623609/work
pluggy @ file:///C:/b/abs_dfec_m79vo/croot/pluggy_1733170145382/work
polars==1.38.1
polars-runtime-32==1.38.1
preshed==3.0.12
propcache==0.4.1
protobuf==7.34.0
psutil==7.2.2
pycosat @ file:///C:/b/abs_18nblzzn70/croot/pycosat_1736868434419/work
pycparser @ file:///C:/miniconda3/conda-bld/pycparser_1757496153123/work
pycryptodome==3.23.0
pydantic @ file:///C:/miniconda3/conda-bld/pydantic_1764083582233/work
pydantic-settings @ file:///C:/miniconda3/conda-bld/pydantic-settings_1764165236385/work
pydantic_core @ file:///C:/miniconda3/conda-bld/pydantic-core_1764009799098/work
pydyf==0.12.1
Pygments @ file:///C:/miniconda3/conda-bld/pygments_1762431428918/work
PyJWT @ file:///C:/miniconda3/conda-bld/pyjwt_1764332257117/work
pyOpenSSL==25.3.0
pyparsing==3.3.2
pyphen==0.17.2
PySocks @ file:///C:/miniconda3/conda-bld/pysocks_1761753030965/work
python-dateutil==2.9.0.post0
python-dotenv @ file:///C:/b/abs_71cpoh9hpg/croot/python-dotenv_1745613639902/work
pywin32-ctypes @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pywin32-ctypes_1729046491215/work
PyYAML==6.0.3
readchar @ file:///C:/miniconda3/conda-bld/readchar_1760613474723/work
regex==2026.2.28
requests @ file:///C:/miniconda3/conda-bld/requests_1762359611326/work
rich @ file:///C:/miniconda3/conda-bld/rich_1760375661587/work
ruamel.yaml @ file:///C:/miniconda3/conda-bld/ruamel.yaml_1762536064547/work
ruamel.yaml.clib @ file:///C:/miniconda3/conda-bld/ruamel.yaml.clib_1762530094515/work
sacremoses==0.1.1
safetensors==0.7.0
scikit-image==0.26.0
scipy==1.17.1
segment-anything==1.0
segno==1.6.6
semver @ file:///C:/miniconda3/conda-bld/semver_1761903323755/work
sentencepiece==0.2.1
setuptools==80.9.0
shellingham @ file:///C:/miniconda3/conda-bld/shellingham_1761912227081/work
six==1.17.0
smart_open==7.5.1
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.8.3
spacy==3.8.11
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.5.2
stanza==1.10.1
sympy==1.14.0
thinc==8.3.10
tifffile==2026.3.3
tinycss2==1.5.1
tinyhtml5==2.1.0
tokenizers==0.22.2
tomli @ file:///C:/b/abs_88e598m6o8/croot/tomli_1753774604115/work
torch==2.10.0
torchsde==0.2.6
torchvision==0.25.0
tqdm==4.67.3
trampoline==0.1.2
transformers==5.3.0
truststore @ file:///C:/miniconda3/conda-bld/truststore_1762521027919/work
typer==0.20.0
typer-slim==0.20.0
typing-inspection @ file:///C:/miniconda3/conda-bld/typing-inspection_1760614188477/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
ultralytics==8.4.21
ultralytics-thop==2.0.18
urllib3==1.26.20
uuid==1.30
wasabi==1.1.3
watchdog==6.0.0
weasel==0.4.3
weasyprint==69.0
webencodings==0.5.1
wheel==0.45.1
win_inet_pton @ file:///C:/miniconda3/conda-bld/win_inet_pton_1761746278300/work
wrapt==2.1.2
yarl==1.23.0
zopfli==0.4.3
zstandard @ file:///C:/miniconda3/conda-bld/zstandard_1758189089298/work
